{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-wrapper">
        <div class="container">
            <div class="post-comments-form">
                <h3 class="post-sub-heading">Edit Publication</h3>
                <form method="post" id="form" role="form" >

                    <div class="row">

                        <input type="hidden" name="id" value="{{ publication.pubid }}">

                        <div class="form-group col-md-12">
                            <!-- Website -->
                            <input type="text" name="title" id="title" class=" form-control" placeholder="name*"
                                   maxlength="100" value="{{ publication.title }}">
                        </div>

                        <div class="form-group col-md-12">
                            <!-- Website -->
                            <input type="file" property="imageFile" id="image" name="image">
                        </div>

                        <!-- Comment -->
                        <div class="form-group col-md-12">
                            <textarea name="content" id="content" class=" form-control" rows="6"
                                      placeholder="Content" maxlength="400">{{ publication.content }}</textarea>
                        </div>

                        <!-- Send Button -->
                        <div class="form-group col-md-12">
                            <button type="edit" desacticlass="btn btn-small btn-main ">
                                Edit
                            </button>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}