{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for publication in publications %}
                        <div class="post">
                            <div class="post-media post-thumb">
                                <a href="blog-single.html">
                                    <img width="500rem" height="60rem" src="{{ asset(publication.image) }}" alt="">
                                </a>
                            </div>
                            <h2 class="post-title"><a>{{ publication.title }}</a></h2>
                            <div class="post-meta">
                                <ul>
                                    <li>
                                        <i class="tf-ion-android-person"></i> POSTED BY ADMIN
                                    </li>
                                    <li>
                                        <a><i class="tf-ion-eye"></i> {{ publication.views|length }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('news_feed_edit', {id: publication.pubid}) }}"><i class="tf-ion-edit"></i></a>
                                        <a href="{{ path('news_feed_delete', {id: publication.pubid}) }}"><i class="tf-ion-close"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-content">
                                <p>{{ publication.content }}</p>
                                <a href="{{ path('news_feed_view', {id: publication.pubid}) }}" class="btn btn-main">Continue Reading</a>
                            </div>

                            <div class="post-meta">
                                <ul>
                                    <li>
                                        {% if publication.isLiked(userId) %}
                                            <a href="{{ path('news_feed_like', {id: publication.pubid}) }}"><i class="tf-ion-news-like-filled"></i>{{ publication.likes|length }}</a>
                                        {% else %}
                                            <a href="{{ path('news_feed_like', {id: publication.pubid}) }}"><i class="tf-ion-news-like-outline"></i>{{ publication.likes|length }}</a>
                                        {% endif %}
                                    </li>


                                </ul>
                            </div>

                            <div class="post-meta">
                                <ul>
                                    <li>
                                        {{ publication.date|date("d/m/Y") }}
                                    </li>

                                </ul>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}