{% extends 'base.html.twig' %}

{% block body %}

<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post post-single">
                    <div class="post-thumb">
                        <img src="{{ asset(publication.image) }}" alt="">
                    </div>
                    <h2 class="post-title">{{ publication.title }}</h2>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <i class="tf-ion-ios-calendar"></i>  {{ publication.date|date("m/d/Y") }}
                            </li>
                            <li>
                                <i class="tf-ion-android-person"></i> POSTED BY ADMIN
                            </li>
                            <li>
                                <a href="#"><i class="tf-ion-chatbubbles"></i> {{ comments|length }} COMMENTS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="post-content post-excerpt">
                        <p>{{ publication.content }}</p>
                    </div>
                    <div class="post-social-share">
                        <h3 class="post-sub-heading">Share this post</h3>
                        <div class="social-media-icons">
                            <ul>
                                <li><a class="facebook" href="#"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a class="instagram" href="#"><i class="tf-ion-social-instagram"></i></a></li>
                                <li><a class="googleplus" href="#"><i class="tf-ion-social-googleplus"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="post-comments">
                        <h3 class="post-sub-heading">{{ comments|length }} Comments</h3>
                        <ul class="media-list comments-list m-bot-50 clearlist">
                            {% for comment in comments %}
                                <li class="media">

                                    <a class="pull-left" href="#">
                                        <img class="media-object comment-avatar" src="{{ asset('T/images/blog/avater-1.jpg') }}" alt="" width="50" height="50">
                                    </a>

                                    <div class="media-body">
                                        <div class="comment-info">
                                            <h4 class="comment-author">
                                                <a href="#">Chaima Mezri</a>

                                                {% if userId == comment.userId %}

                                                    <a onclick="editComment({{ comment.id }})"><i class="tf-ion-edit"></i></a>
                                                    <a href="{{ path('news_feed_comment_delete', {id: comment.id}) }}"><i class="tf-ion-close"></i></a>
                                                {% endif %}

                                            </h4>
                                            <time>{{ comment.date|date("d/m/Y") }}</time>

                                        </div>

                                        <p id="comment-{{ comment.id }}">
                                            {{ comment.content }}
                                        </p>

                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="post-comments-form">
                        <h3 class="post-sub-heading">Write your comment</h3>
                        <form method="post" action="{{ path('news_feed_comment', {id: publication.pubid}) }}" id="form" role="form" >

                            <div class="row">

                                <!-- Comment -->
                                <div class="form-group col-md-12">
                                    <textarea name="content" id="text" class=" form-control" rows="6" placeholder="Comment" maxlength="400"></textarea>
                                </div>

                                <!-- Send Button -->
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-small btn-main ">
                                        Send comment
                                    </button>
                                </div>


                            </div>

                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

    <script language="javascript">
        function editComment(id) {
            let comment = document.getElementById("comment-" + id);

            let text = comment.innerHTML;
            comment.innerHTML = "<input id='comment-input-" + id + "' type='text' onkeypress='finishEdit(event, " + id + ")' value='" + text + "' />";
        }

        function finishEdit(e, id) {
            if(e.keyCode === 13) {
                e.preventDefault();
                let comment = document.getElementById("comment-" + id);
                let input = document.getElementById("comment-input-" + id);

                let text = input.value;

                let xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        comment.innerHTML = text;
                    }
                };

                let params = 'id=' + id + '&content="' + text + '"';

                xhttp.open("POST", "{{ path('news_feed_comment_edit') }}", true);
                xhttp.send(params);
            }
        }
    </script>
{% endblock %}